<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.myapplication"
    android:requestLegacyExternalStorage="true">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".staff_management.StaffManagement"
            android:exported="false"
            android:label="@string/title_activity_staff_management"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".Pto_management.PtoManagement"
            android:exported="false"
            android:label="PTO management"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".Record_management.Entry_view"
            android:exported="false"
            android:label="Entry"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".Record_management.Request_view"
            android:exported="false"
            android:label="Request"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".attendance_management.AttendanceManagement"
            android:exported="false"
            android:label="Attendance Management"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".Record_management.RecordManagement"
            android:exported="false"
            android:label="Records Management"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".staff_management.Fragments.ShowPdf"
            android:parentActivityName=".staff_management.StaffManagement" />
    </application>

</manifest>